# Add files here to ignore them from prettier formatting
/dist
/coverage
/.nx/cache
/.nx/workspace-data
.angular
# OpenAPI specs: written by update-spec / the client generator, normalized there
/libs/**/openapi.yaml
/libs/**/openapi.json
/openapi-clients.json
